<sly data-sly-use.model="com.adobe.aem.social.fiwt.core.models.NavBarModel"/>
<sly data-sly-set.logoUrl="${model.LogoLinkURL @ extension='html'}"/>
<div class="nav-bar" id= "${model.id}" data-sly-test="${model.heading || model.logoReference || model.navigationsList}">
    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a href="${model.LogoLinkURL ? logoUrl : '#'}" class="navbar-brand d-flex align-items-center text-center">
                <sly data-sly-test="${model.logoReference}">
                    <div class="icon p-2 me-2">
                        <img class="img-fluid" src="${model.logoReference}" alt="${model.logoAlt ? model.logoAlt : 'logo'}" style="width: 30px; height: 30px;">
                    </div>
                </sly>
                <sly data-sly-test="${model.heading}">
                	<h1 class="m-0 text-primary">${model.heading}</h1>
                </sly>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <sly data-sly-test="${model.navigationsList}">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <sly data-sly-list.item="${model.navigationsList}">
                            <sly data-sly-test="${!item.subNavigations}">
                                <a href="${item.linkURL @ extension='html'}" class="nav-item nav-link">${item.navLabel}</a>
                            </sly>
                            <sly data-sly-test="${item.subNavigations}">
                                <div class="nav-item dropdown">
                                    <a href="${item.linkURL @ extension='html'}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">${item.navLabel}</a>
                                    <div class="dropdown-menu rounded-0 m-0">
                                        <sly data-sly-list.item2="${item.subNavigations}">
                                            <a href="${item.linkURL @ extension='html'}" class="dropdown-item">${item2.subNavLabel}</a>
                                        </sly>
                                    </div>
                                </div>
                            </sly>
                        </sly>
                    </div>
                    <sly data-sly-test="${model.btnText && model.btnLinkURL}">
                    	<a href="${model.btnLinkURL @ extension='html'}" class="btn btn-primary px-3 d-none d-lg-flex">${model.btnText}</a>
                    </sly>
                </div>
            </sly>
        </nav>
    </div>
</div>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-teaser'}"></sly>


