
<div class="container">
        <h1 class="products-header">Product Catalog</h1>
        <div id="products">
        <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
        <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
        <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
        <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>        <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>        <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
                <div class="product">
			    <h2>Title</h2>
                <h3> Name</h3>
                <p>description description description description description</p>
                <p> full_details full_details full_details full_details full_details full_details full_details full_details full_details</p>
                <p class="rating">⭐ Average Rating: 3.6</p>
                <img src="#" alt="Product Image">
                <div class="product-images">
                    <img src="#" alt="Product Image">
                </div>
        </div>
		</div>
</div>
