<sly data-sly-use.model="com.adobe.aem.social.fiwt.core.models.ProductsModel"/>

<div class="container">
        <h1 class="products-header">Product Catalog</h1>
        <div id="products"></div>
</div>

<script>
    var json = '${model.jsonObject @ context="scriptString"}';
        myFunction(json);
    
        function myFunction(json) {
            var parsedData = JSON.parse(json);
            var products_id = document.getElementById('products');
            var productarray= parsedData.catalogs;
            var products="";
            for(var i=0; i<productarray.length; i++){
                var product=productarray[i];
                    products +=
                "<div class='product'>"+
                    "<h2>"+product.name+"</h2>"+
                    "<h3> "+product.title+"</h3>"+
                    "<p>"+product.description+"</p>"+
                    "<p class='fullDetails'>"+product.full_details+"</p>"+
                    "<p class='rating'>⭐ Average Rating: "+product.avg_rating+"</p>"+
                    "<img src='"+product.image+"' alt='Product Image'>"+
                "</div>";
                    
            }
            products_id.innerHTML = products;
            console.log(parsedData);  
        }
    </script>