<sly data-sly-use.model="com.adobe.aem.social.fiwt.core.models.CarouselBannerModel" />

<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <span>${model.text @ context='html'}</span>
        </div>
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                <sly data-sly-list.item="${model.carouselImgs}">
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="${item.carouselReference}" alt="">
                </div>
                </sly>
            </div>
        </div>
    </div>
</div>