.products-header{
    text-align:center;
}
.product {
    width: 400px;
    height:600px;
    border: 3px solid black;
    padding: 14px;
    margin: 10px;
    float: left;
}
.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.product h2 {
    color: #333;
}
.rating {
    color: #f39c12;
    font-weight: bold;
}
.product-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.product-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.fullDetails{
    display: -webkit-box;                 /* Use flexbox for multi-line support */
    -webkit-line-clamp: 2;                /* Limit to 2 lines */
    -webkit-box-orient: vertical;         /* Vertical orientation for flexbox */
    overflow: hidden;                     /* Hide the overflowing text */
    text-overflow: ellipsis;
}


